@font-face {
  font-family: "AvantGardeC";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AvantGardeCBold";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "BebasNeueCyrillic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BebasNeueCyrillic.ttf") format("truetype"); }

@font-face {
  font-family: "MagistralBlack";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MagistralBlack.ttf") format("truetype"); }

@font-face {
  font-family: "MagistralBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MagistralBold.ttf") format("truetype"); }

@font-face {
  font-family: "Magistral";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Magistral.ttf") format("truetype"); }
